body {

    height: 100%;
    background: #bababb;
    display: flex;
    flex-direction: column;
    /* background-image: url("../images/light-grey-terrazzo.png") */
}

.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid;
    border-color: #343a40;
    background-color: #f8f9fa;

}

.containerContent {

    flex: 1;
    position: relative;
    min-height:100%;
}

.portPic {

    width: 70%!important;
    margin: auto;
}

#leftArrow {

    margin-left: auto;
}

#rightArrow {

    margin-right: auto;
}




@media screen and (min-width: 1199px) {

    @media screen and (max-height: 750px) {
   
    .footer {
        position: static;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-top: 1px solid;
        border-color: #343a40;
        background-color: #f8f9fa;

    }

    }

}

@media screen and (min-width: 990px) {

    @media screen and (max-height: 700px) {
   
    .footer {
        position: static;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-top: 1px solid;
        border-color: #343a40;
        background-color: #f8f9fa;

    }

    }

}

@media screen and (max-height: 480px) {

    .footer {
        position: static;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-top: 1px solid;
        border-color: #343a40;
        background-color: #f8f9fa;

    }

    

}


